/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.performance {
    margin: 30px 0px 0px 0px;
}
/* .performance .title {
    display: flex;
    background: #007bff;
    margin: 0px 0px 14px 0px;
    color: #fff !important;
    padding: 8px;
    position: relative;
} */

/* .performance .title a {
    color: #fff;
    position: absolute;
    right: 10px;
    background: #007bff;
    padding: 5px 13px;
    box-shadow: 0px 0px 3px 2px #f1f1f1;
    font-family: 'Poppins',sans-serif;
}
.performance a:hover {
    text-decoration: none;
}
.dashicons, .dashicons-before:before {
    vertical-align: middle;
} */

.hrm-cp{
    cursor: pointer;
}

.wp-core-ui select.hr-performance-select {
    min-width: 12rem !important;
}
.innovs-delete-btn{
    cursor: pointer;
}

a.hr-error-smg {
    text-decoration: none !important;
    padding: 10px !important;
}